<header>
  <h1>
    There
    <%= @burgers_string %>
  </h1>
</header>

<div class="flex-content-container">
  <% @burgers.each do |burger| %>
  <div class="flex-content-item">
    <h3>
      <a href="/burgers/<%= burger.id %>/summary">
        <%= burger.name %>
      </a>
    </h3>
    <% if !(burger.deals.empty?) %>
    <div class="corner-deal">
      <img src="/images/deal.png" class="corner-deal-heaight"/>
      <div class="display-deal">
        <p>
          <%= "#{burger.deals.first.label}, #{burger.deals.first.days.first.name}" %>
        </p>
      </div>
    </div>
    <% end %>
    @
    <a href="/eateries/<%= burger.eateries.first.id %>/summary"><%= burger.eateries.first.name %></a>
    <br/>
    <br/>
    <% burger.types.each do |filling|%>
    <%= type.name %>
    <br/>
    <% end %>

  </div>
  <% end %>
</div>
