<header>
    <h1>
        New Type of Burger
    </h1>
</header>

<div class="flex-summary-container">
    <div class="flex-summary-item">
        <form action="/type_of_burgers/new" method="post">
            Burger
            <select name="burger_id">
                <% @burgers.each do |burger| %>
                <option value=<%= burger.id %>>
                    <%= burger.name  %>
                    @
                    <%= burger.eateries.first.name %>
                </option>
                <% end %>
            </select>
            <br/>

            Additions
            <select name="type_id">
                <% @types.each do |type| %>
                <option value=<%= type.id %>>
                    <%= "#{type.name} %>
                </option>
                <% end %>
            </select>
            <br/>

            <input type="submit" value="Add type">
        </form>
    </div>
</div>
