<header>
    <h1>
        <%= @deal.name %>
    </h1>
    <div class="flex-header-container">
        <form method="get" action="/deals/<%= @deal.id %>/update" class="flex-header-item">
            <input type="submit" value="EDIT" class="header-button">
        </form>
        <form method="post" action="/deals/<%= @deal.id %>/delete" class="flex-header-item">
            <input type="submit" value="DELETE" class="header-button">
        </form>
    </div>
</header>

<div class="flex-summary-container">
    <div class="flex-summary-item">
        <% @deal.burgers.each do |burger| %>
        <%= burger.name %>
        Available on
        <%= @deal.days.first.name %>
        @
        <%= burger.eateries.first.name %>
        <% end %>
    </div>
</div>
